<div id="<%= dom_id photo %>">
  <p>
    <strong>Title:</strong>
    <%= photo.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= photo.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= photo.price %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= photo.image_url %>
  </p>

</div>
