<!DOCTYPE html>
<html>
  <head>
    <title>Markat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'soft-design-system.css', media: 'all' %>

    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css', media: 'all' %>
    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js', integrity: 'sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM', crossorigin: 'anonymous' %>
    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css', media: 'all' %>
    <%= javascript_include_tag 'https://js.stripe.com/v3/' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
   
    
  </head>

  <body>
  <body data-turbo="false">
  <nav class="navbar navbar-expand-xl navbar-dark" style="z-index: 3; background-color: rgba(0, 0, 0, 0.5); ">
    <div class="container-fluid">
     
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
        <li class="nav-item">
       <div class="nav-link"> Voici ton email : <%= current_user.email %></div>
      </li>
      <% end %>
      <li class="nav-item">
      <% if user_signed_in? %>
        <%= link_to "Panier", cart_path(current_user.cart), class: "nav-link" %>
      <% end %>
      </li>
        <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to "Profile", user_path(current_user), class: "nav-link" %>
        <% else %>
          <%= link_to "Register", new_user_registration_path, class: "nav-link" %>
        <% end %>
      </li>
      <li class="nav-item">
        <% if user_signed_in? %>
        <%= form_tag(destroy_user_session_path, method: :delete) do %>
          <%= submit_tag "Logout", class: "btn btn-outline-light" %>
        <% end %>
                  <% else %>
          <%= link_to "Login", new_user_session_path, class: "btn btn-outline-light" %>
        <% end %>
      </li>        
        </ul>
      </div>
    </div>
  </nav>

  <nav class="navbar navbar-expand-lg navbar-light bg-white py-3 draggable" draggable="true">
  <div class="container">
    <a class="navbar-brand " href="javascript:;" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom">
      <h1>Markat</h1>
    </a>
    <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon mt-2">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </span>
    </button>
    <div class="navbar-collapse w-100 pt-3 pb-2 py-lg-0 ms-lg-12 ps-lg-5 collapse show" id="navigation" style="">
      <ul class="navbar-nav navbar-nav-hover w-100">
              <li class="nav-item">
        <% if user_signed_in? %>
        <%= form_tag(destroy_user_session_path, method: :delete) do %>
          <%= submit_tag "Logout", class: "btn btn-outline-light" %>
        <% end %>
                  <% else %>
          <%= link_to "Login", new_user_session_path, class: "btn btn-outline-light" %>
        <% end %>
      </li>       


   
      <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to "Profile", user_path(current_user), class: "nav-link" %>
        <% else %>
          <%= link_to "Register", new_user_registration_path, class: "nav-link mb-0 me-1 mt-2 mt-md-0" %>
        <% end %>
        </li>
        <li class="nav-item ms-lg-auto my-auto ms-3 ms-lg-0 mt-2 mt-lg-0">
        <% if user_signed_in? %>
        <%= form_tag(destroy_user_session_path, method: :delete) do %>
          <%= submit_tag "Logout", class: "btn btn-sm  bg-gradient-primary  btn-round mb-0 me-1 mt-2 mt-md-0" %>
        <% end %>
                  <% else %>
          <%= link_to "Login", new_user_session_path, class: "btn btn-sm  bg-gradient-primary  btn-round mb-0 me-1 mt-2 mt-md-0" %>
        <% end %>
        </li>
          
      </ul>
    </div>
  </div>
</nav>

  <header class="draggable" draggable="true">
    <div class="page-header min-vh-70">
    <div class="oblique position-absolute top-0 h-100 d-md-block d-none">
      <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url(https://i.pinimg.com/564x/d5/2e/19/d52e196e176194293163611b7cb10e0c.jpg); background-position: center 20%;"></div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-7 d-flex justify-content-center flex-column">
          <h1 class="text-gradient text-primary">PhotoFluot</h1>
          <h1 class="mb-4">A proffessionnal solution to buy some pictures</h1>
          <p class="lead pe-5 me-5">Comme get some Cat pictures </p>
          <div class="buttons">
            <button type="button" class="btn bg-gradient-primary mt-4">Get Started</button>
            <button type="button" class="btn text-primary shadow-none mt-4">Read more</button>
          </div>
        </div>
      </div>
    </div>
    </div>
  </header>
  <%= render 'layouts/footer' %>
    <%= yield %>
  </body>
</html>
